<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active hvr-underline-from-left" data-toggle="tab" [routerLink]="['/producto']" routerLinkActive="router-link-active"  aria-selected="true">Producto</a>
    <a class="nav-item nav-link active hvr-underline-from-left" data-toggle="tab" [routerLink]="['/categoria']" routerLinkActive="router-link-active"  aria-selected="true">Categoria</a>
    <a class="nav-item nav-link active"  data-toggle="tab" aria-selected="false">Hola</a>
  </div>
</nav>

<router-outlet></router-outlet>
  


